<footer>
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-ml-4 cpl-lg-4">
					<a href="#" class="footer-logo"></a>
				</div>
				<div class="footer-social col-xs-12 col-sm-4 col-ml-3 cpl-lg-4">
					<a href="{{ contacts.social.facebook }}" class="facebook-footer"></a>
					<a href="{{ contacts.social.vk }}" class="twitter-footer"></a>
				</div>
				<div class="footer-contacts col-xs-12 col-sm-4 col-ml-5 cpl-lg-4">
					{{ contacts.location.address }}
					<br />
					<span>{{ contacts.phone.mobile }}</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer-info">
		<div class="container">
            <div class="footer-info-left">Privacy Policy - Terms of Use. All rights Reserved <span>OSTC</span></div>
            <div class="footer-info-right">Design by <span>Katya Dmytruk</span></div>
		</div>
	</div>
</footer>